//fonts-color
$mainTxtColor: #2C2C2C;
$altTxtColor: #6B6B6B;
$darkMainTxtColor: #FFFFFF;
$darkAltTxtColor: #8E8E93;

//bg-color
$mainBgColor: #FFFFFF;
$altBgColor: #F7F9FC;
$basicColor: #4A90E2;
$aсcentColor: #34C759;
$iconsAndLinesColor: #E5E5E5;
