@use "../../styles/variables.scss" as *;

body {
  background-color: $altBgColor;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 332px;
  min-height: 360px;
  padding: 26px 26px 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);

  &__description {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__actions {
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-bottom: 12px;
  }
}

.form-group {
  font-size: 12px;
  position: relative;
  margin-bottom: 16px;

  &__input {
    width: 100%;
    padding: 8px 0;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid $basicColor;
    background-color: transparent;
    top: 10px;

    &:focus + .form-group__label,
    &:valid + .form-group__label {
      position: absolute;
      top: -8px;
      font-size: 12px;
      color: $basicColor;
    }

    &:focus {
      outline: none;
    }
  }

  &__label {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 12px;
    color: $altTxtColor;
    pointer-events: none;
    transition: all 0.3s;
  }
}

.reg-link {
  color: $basicColor;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
