<div id="createChatModal" class="modal">
    <div class="modal__content">
        <h2 class="modal__content__title">Создать чат</h2>
        <form id="create-chat-form" class="modal__content__form">
            <label>
                <input name="title" class="modal__content__form-input" type="text" placeholder="Название чата" required>
            </label>
            <button class="modal__button" type="submit">Создать</button>
        </form>
    </div>
</div>

